{% extends "trips/layout.html" %}

{% load custom_filters%}

{% block body %}

<div>
    <a class="btn btn-custom" href="{% url 'add_trip' %}">Add Trips</a>
</div>

<h2>Previous Trips</h2>

<div class="container mt-5">
    <div class="row">
        {% for previous in previous_trips %}
            <div class="col-md-12 mb-4">
                <div class="card shadow-sm">
                    <div class="row no-gutters justify-content-center"> <!-- Added justify-content-center -->
                        <div class="col-md-8">
                            <div class="card-body text-center"> <!-- Added text-center to align contents -->
                                <h3 class="card-title">{{ previous.country }}</h3>
                                <h6 class="card-title">{{ previous.city }}</h6>
                                <p class="card-text mt-3">{{ previous.start_date }} - {{ previous.end_date }}</p>
                                <p class="card-text mt-3">{{ previous.notes }}</p>
            
                                {% if weather_data %}
                                    {% with weather_data|get_item:previous.id as weather %}
                                        {% if weather %}
                                            <div class="weather-info mt-4">
                                                <p class="mt-2">
                                                    {% if weather.condition_code %}
                                                        <i class="wi wi-yahoo-{{ weather.condition_code }}"></i>
                                                    {% else %}
                                                        <i class="wi wi-yahoo-3200"></i>
                                                    {% endif %}
                                                    <span>{{ weather.condition_text|default:"N/A" }}</span>
                                                </p>
                                                <p>{{ weather.temperature|default:"N/A" }}°C</p>
                                            </div>
                                        {% else %}
                                            <p class="mt-2">No weather data available.</p>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}