{% extends "trips/layout.html" %}

{% block body %}

<div>
    <a class="btn btn-custom" href="{% url 'add_trip' %}">Add Trips</a>
</div>

<h2>Upcoming Trips</h2>

<div class="container mt-5">
    <div class="row">
        {% for upcoming in upcoming_trips %}
            <div class="col-md-12 mb-4" data-trip-id="{{ upcoming.id }}" data-trip-start="{{ upcoming.start_date }}">
                <div class="card shadow-sm">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{ upcoming.country }}</h3>
                                <h6 class="card-title">{{ upcoming.city }}</h6>
                                <p class="card-text mt-3">{{ upcoming.start_date }} - {{ upcoming.end_date }}</p>
                                <p class="card-text mt-3">{{ upcoming.notes }}</p>

                                <h5 class="card-text countdown-text mt-3">
                                    Time left until trip: <span id="countdown-{{ upcoming.id }}"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}