{% extends "trips/layout.html" %}

{% load custom_filters%}

{% block body %}

<div>
    <a class="btn btn-custom" href="{% url 'add_trip' %}">Add Trips</a>
</div>

<h2>Upcoming Trips</h2>

<div class="container mt-5">
    <div class="row">
        {% for upcoming in upcoming_trips %}
            <div class="col-md-12 mb-4" data-trip-id="{{ upcoming.id }}" data-trip-start="{{ upcoming.start_date }}">
                <div class="card shadow-sm">
                    <div class="row no-gutters justify-content-center"> <!-- Added justify-content-center -->
                        <div class="col-md-8">
                            <div class="card-body text-center"> <!-- Added text-center to align contents -->
                                <h3 class="card-title">{{ upcoming.country }}</h3>
                                <h5 class="card-title">{{ upcoming.city }}</h5>
                                <a href="{% url 'edit_trip' upcoming.id%}">edit</a>
                                <p class="card-text mt-3">{{ upcoming.start_date }} - {{ upcoming.end_date }}</p>
                                <p class="card-text mt-3">{{ upcoming.notes }}</p>
            
                                {% if weather_data %}
                                    {% with weather_data|get_item:upcoming.id as weather %}
                                        {% if weather %}
                                            <div class="weather-info mt-4">
                                                <p class="mt-2">
                                                    {% if weather.condition_code %}
                                                        <i class="wi wi-yahoo-{{ weather.condition_code }}"></i>
                                                    {% else %}
                                                        <i class="wi wi-yahoo-3200"></i>
                                                    {% endif %}
                                                    <span>{{ weather.condition_text|default:"N/A" }}</span>
                                                </p>
                                                <p>{{ weather.temperature|default:"N/A" }}°C</p>
                                            </div>
                                        {% else %}
                                            <p class="mt-2">No weather data available.</p>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}

                                <div class="trip-timezone" data-trip-id="{{ upcoming.id }}" data-raw-offset="{{ upcoming.timezone }}">
                                    <p id="time-{{ upcoming.id }}" class="trip-timezone">
                                        <span id="local-time-{{ upcoming.id }}"></span>
                                    </p>
                                </div>
                                
                                <h5 class="card-text countdown-text mt-3">
                                    Time left until trip: <span id="countdown-{{ upcoming.id }}"></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}